
/* ABOUT SECTION */

main {
    max-width: 700px;
    margin: 70px auto 0;
    padding: 0 20px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main img {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    object-fit: cover;
    object-position: 0 0;
    margin-top: 10px;
}

.main-text {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main h1 {
    text-align: center;
    padding: 0 20px 0 10px;
    flex-basis: 100%;
    color: black;
    font-size: 4rem;
}

main p {
    margin: 0 auto 20px;
    padding: 0 20px;
    font-size: 2rem;
    line-height: 2.5rem;
}

main strong {
    font-weight: bold;
    font-size: 3rem;
}

.backtotop {
    text-align: center;
    flex-basis: 100%;
    font-size: 2rem;
    text-decoration: underline;
    transition: all ease-in-out 200ms;
    margin-bottom: 20px;
}

.backtotop:hover {
    color: red;
}

/* DESKTOP */

@media only screen and (min-width: 768px) {

    main {
        margin-top: 110px;
    }

}